body {background-color: black}
h1 {font-family: times serif; font-size: 24pt; color:white;}
p {font-family: times serif; font-size: 18pt; color: white; }
p2 {font-family: times serif; font-size: 16pt; color: white; }
a {text-decoration: non}

 a {font-family: times serif; color: white}


 

