body {background-color: black}
h1 {font-family: times serif; font-size: 24pt; color:white;}
p {font-family: times serif; font-size: 18pt; color: white; }


 a {font-family: times serif; font-size: 18pt; color: white}


 

