body {background-color: purple}
h1 {font-family: comic sans ms; font-size: 24pt; color:black;}
p {font-family: comic sans ms; font-size: 18pt; color: gold; }
a {text-decoration: non}
h2 {font-family: herculanum; font-size: 24; color: gold}
	
	h3 {font-family: comic sans ms; font-size: 18pt}
 a{text-decoration: none}
 a {font-family: comic sans ms; color: black;}
 
	a:hover {color: white}
