body {background-color: black;}
h1 {font-family: times serif; font-size: 24pt; color:white;}
p {font-family: times serif; font-size: 18pt; color: white; }
a {text-decoration: non}
h2 {font-family: times serif; font-size: 24; color: gold}
	
	h3 {font-family: comic sans ms; font-size: 18pt}
 a{text-decoration: none}
 a {font-family: comic sans ms; color: black;}
 
	a:hover {color: cream}
