body {background-color: black}
h1 {font-family: times serif; font-size: 24pt; color:white;}
p {font-family: times serif; font-size: 18pt; color: white; }
a {text-decoration: non}
h2 {font-family: times serif; font-size: 24; color: gold}
	
	h3 {font-family: times serif; font-size: 18pt}
 a{text-decoration: none}
 a {font-family: times serif; color: white}
img {
  display: block; /* Images are inline by default, change to block */
  margin-left: auto; /* Distribute available space equally to the left */
  margin-right: auto; /* Distribute available space equally to the right */
  /* Shorthand: margin: 0 auto; */
  width: 50%; /* Optional: set a width smaller than 100% to see the centering effect */
}
 

